.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(150px, auto);
    margin-top: 20px;
}

@media screen and (max-width: 850px) {
    .grid {
        grid-template-columns: 1fr;
    }
}