* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One';
    color: #2b2929;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html {
    background: url('images/guadalupe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* HEADER ELEMENTS */
header {
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    border-bottom: 8px solid #2b2929;
}

h1 {
    float:left;
    margin: 15px 0px 0px 20px;
    font-size: 35px;
    cursor: pointer;
}

header ul {
    list-style-type: none;
    float: right;
    margin: 25px 20px 0px 0px;

}

header li {
    display: inline;
    margin: 0px 10px 0px 10px;
}

header a {
    text-decoration: none;
}
header ul a:hover {
    color: white;
}

/* WRAPPER */
.wrapper {
    margin: 25px auto auto auto;
    width: 90%;
}

.quote-container {
    background-color: #bda5a529;
    border-radius: 5px;
    padding: 25px 25px 15px 25px;
    border: 1px solid black
    
}
.intro-container {
    background-color: #bda5a529;
    border: 1px solid black;
    padding: 25px 25px 15px 25px;
}

.intro-container a:hover {
    color:white;
}

.landing-elem {
    max-width: 850px;
    margin: auto auto 30px auto;  
}

.site-description {
    margin: auto auto 40px auto;
    font-size: 22px;
}

/* PARK ELEMENTS */
.park {
    width: 80%;
    margin: auto auto auto auto;
    padding-top: 25px;
    font-size:18px;
}

.park h2 {
    margin: 10px 0px 20px 0px;
    background-color: #ffc593d6;
    width: 450px;
    margin: 15px auto 30px auto;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    font-size: 26px
}

.park-container {
    background: rgba(235, 232, 245, .8);
    min-height: 650px;
    margin: 25px 0px 50px 0px;;
    outline: 10px solid #ffc593d9;
}

.park-container ul {
    list-style-type: none;
    padding: 0;
}

.park-container li {
    margin: .5em 0;
}

.result img {
    max-width: 100%;
    border-radius: 5px;
}

.no-results p {
    padding-top: 30px;
    font-size: 35px;
}

/* INPUT ELEMENTS */
input[name="explore-btn"], input[name="map-btn"] {
    width: 100%;
    height: 55px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    font-size: 22px;
}
input[name="explore-btn"]:hover, input[name="map-btn"]:hover {
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5) inset;
    color: white;
}


input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="radio"]:checked + radio-label {
  padding-left: 10px;
  color: #fff;
}

input[type="radio"] + .radio-label::before {
  border-radius: 18px;
}

input[type="radio"]:checked + .radio-label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.radio-label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
  padding-right: 24px;
  line-height: 40px;
  cursor: pointer;
}

.radio-label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 4px;
  z-index: -1; 
}

.radio-label,
.radio-label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.keyword-search-input {
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding: 12px 15px 15px 15px;
    font-size: 22px;
}
.keyword-search-input::placeholder {
    color:black;
}

.search-type-form {
    margin-top: 35px;
}

.search-type-form h4 {
    margin-bottom: 15px;
}

.input-label {
    background-color: transparent;
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 250px;
    min-height: 58px;
    margin: 0 auto 20px auto;
    z-index: 10;
    border: 2px solid black;
    text-align-last: center;
    outline: none;
    color: white;
}
.input-label:hover {
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5) inset
}
select {
    min-width: 250px;
    text-align-last: center;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.select-label::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 50px;
    content: '\2228';
    text-align: center;
    color: black;
    font-size: 24px;
    border-left: 1px solid black;
    z-index: -1;
}

/* ACCORDION */
a[class="toggle"] {
  text-decoration: none;
  color: inherit;
}

a[class="toggle"].toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
a[class="toggle"]:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* RESPONSIVE */
@media screen and (max-width: 850px) {
   
    h1 {
        float: none;
    }

    header ul {
        display: none;
    }
    input[name="explore-btn"], input[name="map-btn"] {
    }
    
    .intro-container {
        /* display: none; */
        font-size: 16px;
    }
    
    .search-type-form {
        width: 380px;
        margin: auto
    }
    
    .park h2 {
        width: auto;
    }
}


