* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #2b2929;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html {
    width: 100%;
    height: 100%;
    background: url('images/guadalupe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* HEADER ELEMENTS */
header {
    width: 100%;
    height: 100px;
    background-color: transparent;
    border-bottom: 5px solid black;
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    margin: 15px 0px 15px 0px;
    font-size: 35px;
    cursor: pointer;
}

header ul {
    list-style-type: none;
}
header li {
    display: inline;
    margin: 0px 20px 0px 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 30px 0px 0px 0px;
}
header ul a:hover {
    color: black;
}

.intro-container {
    padding: 25px 25px 15px 25px;
    max-width: 850px;
    margin: auto auto 30px auto;  
    font-size: 22px;
}

.intro-container a:hover {
    color:white;
}

.site-description {
    margin: auto auto 40px auto;
    font-size: 22px;
}

/* PARK ELEMENTS */
.park {
    width: 80%;
    margin: auto auto auto auto;
    font-size:18px;
}

.park h2 {
    margin: 10px 0px 20px 0px;
    background-color: #ffc593d6;
    width: 450px;
    margin: 15px auto 30px auto;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    font-size: 26px
}

.park-backout {
    padding-top: 15px;
}

.park-container {
    background: rgba(235, 232, 245, .8);
    margin: 25px 0px 50px 0px;
    border: 10px solid #ffc593d9;
}

.park-container ul {
    list-style-type: none;
    padding: 0;
}

.park-container li {
    margin: .2em 0;
}

.result img {
    max-width: 100%;
    border-radius: 5px;
}

.no-results p {
    padding: 30px 0px 30px 0px;
    font-size: 35px;
}

/* INPUT ELEMENTS */
input {
    border-radius: 5px;
    cursor: pointer;
}
input[name="explore-btn"], input[name="map-btn"] {
    width: 60%;
    max-width: 500px;
    height: 55px;
    background-color: darkolivegreen;
    font-size: 22px;
    color: white;
    border: 2px solid black;
    margin: 5px 0px 5px 0px;
}
input[name="explore-btn"]:hover, input[name="map-btn"]:hover {
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5) inset;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="radio"]:checked + radio-label {
  padding-left: 10px;
  color: #fff;
}

input[type="radio"]:checked + .radio-label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.radio-label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
  padding-right: 24px;
  line-height: 40px;
  cursor: pointer;
}

.radio-label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 4px;
  z-index: -1; 
}

.radio-label,
.radio-label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.keyword-search-input {
    background-color: transparent;
    display: block;
    width: 80%;
    font-size: 20px;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    height: 45px;
    
}
.keyword-search-input::placeholder {
    color:black;
}

.search-form {
    margin-top: 20px;
}
.search-type-form {
    margin-top: 35px;
}

.search-type-form h4 {
    margin: 35px 0px 5px 0px;
}

/* SELECT2 */
.select2-container--default .select2-selection--single {
    border: 2px solid black;
    background-color: transparent;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered { 
    line-height: 45px;
    color: black;
}

/* ACCORDION */
a[class="toggle"] {
  text-decoration: none;
  color: inherit;
}

a[class="toggle"].toggle {
  width: 100%;
  display: block;
  background: darkolivegreen;
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
a[class="toggle"]:hover {
  background: rgba(0, 0, 0, 0.9);
}

footer {
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    background-color: black;
    width: 100%;
    padding: 4px 0px 4px 0px;
}

footer p {
    color: white;
}

footer a {
    color: darkolivegreen
}

/* FANCY BOX */
.fancybox-button {
    background-color: white;
}

/* RESPONSIVE */
@media screen and (max-width: 850px) {
    h1 {
        float: none;
        margin-left: 0px;
    }
    
    header {
        margin-bottom: 0px;
    }

    header ul {
        display: none;
    }
    
    input[name="explore-btn"], input[name="map-btn"] {
    }
    
    .intro-container {
        font-size: 16px;
    }
    
    .search-type-form {
        margin: auto
    }
    
    .park h2 {
        width: auto;
    }
    
    footer {
        position: fixed
    }
    
    .radio-label {
        padding-left: 30px;
        padding-right: 5px
    }
}


