* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One';
    color: #2b2929;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html {
    background: url('images/guadalupe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* HEADER ELEMENTS */
header {
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    border-bottom: 3px solid #2b2929;
}

h1 {
    float:left;
    margin: 15px 0px 0px 20px;
    font-size: 35px;
    cursor: pointer;


}

.h1-background {


}

header ul {
    list-style-type: none;
    float: right;
    margin: 25px 20px 0px 0px;

}

header li {
    display: inline;
    margin: 0px 10px 0px 10px;
}

/* LINK ELEMENTS */
a {
    text-decoration: none;
}

/* WRAPPER */
.wrapper {
    margin: 75px auto auto auto;
    width: 90%;
}

.landing-quote {
    font-size: 28px;
}

.landing-elem {
    min-width: 350px;
    max-width: 850px;
    margin: auto auto 30px auto;  
}

.landing-quote i {
    font-size: 22px;
    min-width: 350px;
    max-width: 850px;
}

.site-description {
    margin: auto auto 40px auto;
    font-size: 22px;
}

/* PARK ELEMENTS */
.park {
    width: 80%;
    margin: -65px auto auto auto;
    padding-top: 25px;
}

.park h2 {
    margin: 10px 0px 20px 0px;
}

.park-container {
    background: rgba(235, 232, 245, .8);
    min-height: 650px;
    margin-bottom: 50px;
    outline: 10px solid #ffc593d9;
}

/* INPUT ELEMENTS */
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

input[type="radio"]:checked + radio-label {
  padding-left: 10px;
  color: #fff;
}

input[type="radio"] + .radio-label::before {
  border-radius: 18px;
}

input[type="radio"]:checked + .radio-label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.radio-label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 40px;
  cursor: pointer;
}

.radio-label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 4px;
  z-index: -1; 
}

.radio-label,
.radio-label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.keyword-search-input {
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding: 12px 15px 15px 15px;
    font-size: 22px;
}
.keyword-search-input::placeholder {
    color:black;
}

.search-type-form {
    margin-top: 35px;
}

.input-label {
    background-color: transparent;
    position: relative;
    display: block;
    max-width: 400px;
    min-width: 250px;
    min-height: 58px;
    margin: 0 auto 20px auto;
    z-index: 10;
    border: 2px solid black;
    text-align-last: center;
    outline: none;
    color: white;
}

select {
    min-width: 250px;
    text-align-last: center;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.select-label::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 50px;
    content: '\2228';
    text-align: center;
    color: black;
    font-size: 24px;
    border-left: 1px solid black;
    z-index: -1;
}


/* RESPONSIVE */
@media screen and (max-width: 850px) {
    h1 {
        float: none;
    }

    header ul {
        float: none;
        margin: 15px 0px 15px 0px; 
    }
}


