body { 
    margin:0; 
    padding:0; 
}

#map {
    width: 100%; 
    height: 100%; 
    position: absolute; 
}

.controls {
}
.leaveMap {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: black;
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,.75)inset;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    border-radius: 3px;
    border: 1px solid black;
}

.leaveMap:hover {
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5) inset
}

